body {
        padding: 0; margin: 0;
    }


/* aside with pages */
    #aside-front { display: none;}
    #aside-front  { 
        float: left;
        padding-left: 1em !important; 
        margin-top: 5em;
        z-index: -1000 !important;
    }

    aside#aside-front, aside#aside-front h3 { width: 150px !important;}

    div#picture { 
        padding-top: 2em;
        display: block; 
        float: left; 
        /*width: 35%;*/
        /*max-width: 30em;*/
        /*border: solid 1px red;*/
    }
    div#description { 
        /*width: 45%; */
        display: block; 
        float: left; 
        /*border: solid 1px blue;*/
    }

/* debug */ 
    /*aside#aside-front, div#picture, div#description { border: solid 1px red;}*/


    div#picture {   padding: 0.5em; padding-left: 1.5em; }
    div#description { padding-left: 1em;  }

   
    div.figure p.graphics { text-align: center; margin-bottom: 0;}
    div.figure p.caption {  margin-top: 0; }


    p#notice { color: darkred; clear: both; font-weight: bold; font-size: smaller;
        text-align: center; }


    /* padding */
    div#updates  {  padding: 1em; }
    div#news     {  padding: 1em; }
    div#travel   { padding: 0em; padding: 0; }
    div#personal { margin: 0em;}


    body {          background-color: white; }
    div#description { padding-top: 1em;}
    div#updates { background-color: #FFFDFD; padding-left: 1em;  }

    div#stats { padding-top: 2em;}
    div#stats img#updated { margin-bottom: -5px; float: right;}
    div#stats p.graphics img { width: 47%; padding: 1%;}

    div.figure p.caption { 
        margin-top: 0;
        /*font-family: Times; */
        text-align: justify; 
        font-size: smaller;
        font-style: italic;
        }
    div#description #also {  padding-right: 2em;}
    
    A.pdflink IMG {border:0; margin-bottom:-6px}
    A.weblink IMG {border:0; margin-bottom:-6px; height: 17px;}
    
    .highlight { font-weight: bold;}
     
    #coordinates  { display: block; margin}
    #coordinates dd { display: block; margin-left: 6.5em;  max-width: 30em;
                        float: left;}       
      
    #coordinates dt { clear: left; float: left; display: block; width: 6em; font-style: italic;
                      font-weight: normal; text-align: right;}
    #coordinates dd, #coordinates dt { margin: 0 !important; padding: 0 !important;} 
    dl#coordinates { margin: 0 !important; padding: 0 !important; margin-bottom: 1em !important;} 
    #coordinates dt  { padding-right: 1em !important; } 
    div#news h4 {margin:0; padding: 0;}
    
    #rsslink { font-size: 70%; margin-left: 2em; color: gray; }
    #rsslink A { text-decoration: none;}
    #rsslink img { width: 0.9em; margin-bottom: -0.1em; border: 0;}
    
    
    div#personal { clear: left;}
    
    div#news {display: block; 
        /*width: 35%;*/
    }
    /*div#news {border: solid 1px red;}*/
    div#news  dl {  }
    div#news  dl p {  padding: 0 ; margin: 0;}
    div#news dt {
 }
    div#news dd {
 }


/* layout top */

/* no space for menu on ipad */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    aside#aside-front { display: none;}
}


 /* layout bottom */
 
    div#short_news_and_travel {
        display: block; 
        float: left; 
        clear: left;
    }
    div#short_news H3 {
        color: #d00;
    }
    div#short_news { padding: 0.5em; background-color: #fee !important;}
    div#travel { 
    }
    div#research_items {display: block; float: left; }

    div#widget-gplus {
        float: right;
    
        /*border: solid 1px red;*/
    }

 /* proportions */
    div#short_news_and_travel {
        width: 25em;
    }
    div#travel { 
        width: 25em;
    }
    div#short_news {} 
    div#research_items { 
        width: 30%;}
    div#widget-gplus {
        width: 20% !important;
    }

/*spacing*/

    div#short_news_and_travel {
        padding-left: 1em;
        padding-right: 1em;
    }

/* travel */

    #travel dl { display: block; 
        /*width: 100%; */
             }
    #travel dd { display: inline;  
                    float: left; 
                    line-height: 100%;
                    /*# top right bottom left*/
                    margin: 0 !important;
                    padding-right: 0 !important;
                    padding-top: 0 !important;
                    padding-bottom: 0.5em !important; 
                    padding-left: 0.5em !important; 
                    }

    #travel dt { clear: left; float: left; display: block; text-align: right;
                      font-weight: bold; 
                    margin-bottom: 0 !important;
                    margin-right: 0em !important;  line-height: 110%;           
                    font-weight: normal;
                    font-size: smaller;
                  }
    #travel  dl { margin: 0 !important; padding: 0 !important;} 

    p#myname { margin-bottom: 0; padding-bottom: 0.5em;}        
    ul#definition {margin-bottom: 0; padding-bottom: 0.5em;}       
     
    #page {
        padding: 0;
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

    #page #content {
        padding: 0;
        margin: 0;
        width: 100%;
    }



/* Andrea's modifications */
body.home header {
    display: none;
}

/* button */
#show_old_travel_plans_parent {
    display: block; clear: both; 


    text-align: right;
}
#show_old_travel_plans { 
    font-size: x-small;}
/* Links to more */
a.older { display: block;text-align: right;}

div#description #also { display: block; float: left;}
div#description #position { display: block; float: left; }
div#description #mainlinks { clear: left;}
    
div#links { clear: both;}
/*div#links  ul { width: 15em; border: solid 1px red;}*/
ul#mainlinks { float: left; display: block;}
ul#otherlinks { float:left; display: block;}
dl#coordinates { clear: both;}

span.date { color: gray; font-weight: normal;}
#research_items span.date { font-size: smaller; float: right;}
h3 { color: gray;}

span#updated {font-weight: normal; font-size: smaller; color: gray !important;}

/* github */
div#CHEWBA_61e5 { float: left; width: 40%; clear: left;
    padding-left: 2em; display: none;}
div#widget-gplus { float: left; width: 50%;  padding-left: 2em;
font-family: serif !important; line-height: 120%;}

div#wgp_wrapper {width: 500px !important; font-family: serif !important;}


a:hover {background-color: #fee;}