    body {
        padding: 0; margin: 0;
    }
	

    div#picture { display: block; float: left; margin: 0.5em; margin-left: 1.5em; }
    div#description {margin-left: 1em; float: left; display: block; }
    div#updates  { clear: left; margin: 1em; float: right; width: 40%; }
	div#news     { clear: left; margin: 1em; }
	div#personal { margin: 1em;}

   
	div.figure { width: 475px;}
	img#andrea_censi_portrait { width: 70%;}
	div.figure p.graphics { text-align: center; margin-bottom: 0;}
	div.figure p.caption {  margin-top: 0; }
/*	div.figure p.caption { border: solid 3px blue;}
	 div#picture { border: solid 1px green; }
	div.figure { border: solid 1px red;}
*/

    body {          background-color: white; }
    div#description { padding-top: 1em;}
    div#updates { background-color: #FFFDFD; padding-left: 1em;  }

	div#stats img#updated { margin-bottom: -5px; float: right;}
	div#stats p.graphics img { width: 47%; padding: 1%;}

	div.figure p.caption { 
		margin-top: 0;
		font-family: Times; text-align: justify;
		/*font-style: normal; 
font-size: 90%; 				*/
		}
    
    div#description #also { display: block; float: left; padding-right: 2em;}
    div#description #position { display: block; float: left; }
    div#description #mainlinks { clear: left;}
	A.pdflink IMG {border:0; margin-bottom:-6px}
	A.weblink IMG {border:0; margin-bottom:-6px; height: 17px;}
	
	.highlight { font-weight: bold;}
	
	#coordinates dl { display: block;}
	#coordinates dt { display: inline; float: left;clear: left; font-style: italic; width: 6em;
	                    text-align: right; margin-right: 0.5em;}
	#coordinates dd { display: block; margin-left: 6.5em;  max-width: 23em;;}		
		 
	div#news h4 {margin:0; padding: 0;}
	
	#rsslink { font-size: 70%; margin-left: 2em; color: gray; }
	#rsslink A { text-decoration: none;}
	#rsslink img { width: 0.9em; margin-bottom: -0.1em; border: 0;}
	
	
	div#news {display: block}
	div#news  dl {  }
	div#news  dl p {  padding: 0 ; margin: 0;}
	div#news dt { float: left; clear: left;  }
	div#news dd { float: left; width: 25em; display: block;}
	
	div#personal { clear: left;}